<div class="list">
  <h1>Items list</h1>

  <div class="container">
    <div class="row">
      <div class="col-md-12 scrollable">

        <table>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Quantity</th>

          </tr>
          <% @items.each do |i| %>
            <tr>
              <td><%= i.name %></td>
              <td><%= i.description %></td>
              <td><%= i.quantity %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
