<div>
  <h1>Item Details</h1>

  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <table class="show-item-table">
          <tr>
            <th>Name:</th>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <th>Description:</th>
            <td><%= @item.description %></td>
          </tr>
          <tr>
            <th>Quantity:</th>
            <td><%= @item.quantity %></td>
          </tr>
        </table>
        <%= button_to("Show all items", items_path,
        method: "get", class: "return-btn") %>
      </div>
    </div>
  </div>
</div>
